.landing-page-image {
  background-image: url('/Landing-pattern.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}

.welcome-font {
  font-family: 'Open Sans', san serif;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 72px;
}

.welcome-subtext-font {
  font-family: 'Open Sans', san serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.right-slider-title-text {
  font-family: 'Open Sans', san serif;
  font-style: normal;
  font-weight: 600;
  color: rgb(34, 31, 31);
  font-size: 20px;
  line-height: 28px;
}

.right-slider-text {
  font-family: 'Open Sans', san serif;
  font-style: normal;
  font-weight: 400;
  color: rgb(146, 148, 151);
  font-size: 14px;
  line-height: 20px;
}

.full-width-input {
  width: 100%;
}
